# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Convert units (e.g., minutes to hours)
- Explain and implement basic Python expressions
- Understand the usage of Jupyter Notebooks
- Write and run code in code cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

Some of the commonly used Data Science tools include:

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| Apache Zeppelin          |
| R studio                 |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60 and rounding to 2 decimal places.
minutes = 200
hours = minutes / 60
rounded_hours = round(hours, 2)
rounded_hours

3.33

## Author

MD.khaja Moinuddin